/* Content Script CSS */

.justKeysHighlight {
    background-color: yellow;
    color: blue;
}

.justKeysHighlightNumber {
    border: 1px solid black;
    background: red;
    color: white;
    font: 0.8em cursive;
}

.justKeysFiltered {
    background-color: #6495ed;
    color: white;
}

.justKeysFilteredNumber {
    border: 1px solid black;
    background: #00008b;
    color: white;
    font: 0.8em cursive;
}