/* Content Script CSS */

.jkHighlight {
    background-color: yellow;
    color: blue;
}

.jkHighlightNumber {
    border: 1px solid black;
    background: red;
    color: white;
    font: 0.8em cursive;
}

.jkFiltered {
    background-color: yellow;
    color: blue;
}

.jkFilteredNumber {
    border: 1px solid black;
    background: #6a96ff;
    color: white;
    font: 0.8em cursive;
}

.jkSelected {
    background-color: #98ff2e;
    color: black;
}

.jkSelectedNumber {
    border: 1px solid black;
    background: #42ed1b;
    color: black;
    font: 0.8em cursive;
}