/* Content Script CSS */

.justKeysHighlight {
    background-color: yellow;
    color: blue;
}

.justKeysHighlightNumber {
    border: 1px solid black;
    background: red;
    color: white;
    font: 0.8em cursive;
}

.justKeysFiltered {
    background-color: yellow;
    color: blue;
}

.justKeysFilteredNumber {
    border: 1px solid black;
    background: #6a96ff;
    color: white;
    font: 0.8em cursive;
}

.justKeysSelected {
    background-color: #98ff2e;
    color: black;
}

.justKeysSelectedNumber {
    border: 1px solid black;
    background: #42ed1b;
    color: black;
    font: 0.8em cursive;
}